* {
  box-sizing: border-box;
}
html, body {
  font-family: "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  // overwrite bulma scrollbars
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
